*.[oa]
*~
*.mod
*.x

my_*

/out*
/*.dat
/*.txt

*._*
*DS_Store*
*.nfs*

/headers/*.h

/src/*.h
/src/*.py
/src/*.sh
/src/*.dat
src/fort*
/src/driver*
/src/*.msg
/src/*.out
/src/html/
/src/*.gcda
/src/*.gcno
/src/*.info

/maic2_out/*
!/maic2_out/.keep

/tmp/*
!/tmp/.keep

/docs/ford/*
/docs/quick_start/*
!/docs/quick_start/MAIC-2_Quick_Start.tex
!/docs/quick_start/references_maic2.*
