*.[oa]
*~
*.mod
*.x

my_*

/out*
/*.dat
/*.txt

*._*
*DS_Store*
*.nfs*

/src/*.h
/src/*.py
/src/*.sh
/src/*.dat
src/fort*
/src/driver*
/src/*.msg
/src/*.out
/src/html/
/src/*.gcda
/src/*.gcno
/src/*.info

/maic2_out/*
!/maic2_out/.keep

/tmp/*
!/tmp/.keep

/docs/ford/*
